html{scroll-behavior:smooth;font-family:consolas;}
body{
	background-color: #1F1F1F;
	background-repeat:no-repeat;
	background-size:cover;
	color: #99D9EA;
	overflow-y: auto;
	position: absolute;
}

::-webkit-scrollbar {
  background: #1F1F1F; 
  color: #99D9EA;
}

::-webkit-scrollbar-thumb {
  background: #99D9EA; 
  color: #99D9EA;
  border-radius: 10px;
}

.eu{
	width: 100%;
	margin-bottom: 5%;
}
#icons{
	font-size: 90%;
}

#outer{
	position:relative;
    width:98%;
    height:auto;
	top: 1%;
	background-color:none;
}

#content{
	position:relative;
    float:right;
	width: 77%;
    height: 100%;
}

#outers{
	position:relative;
    width:98%;
	float:left;
}

#space{
	width: auto;
	padding: 0.5%;
}

#extra{
	width: 98%;
	background:#000000;
	padding: 1%;
	font-family: arial;
	color: black;
	float: left;
}

#extra2{
	width: 98%;
	background:#000000;
	padding: 1%;
	font-size: 150%;
}

#data{
	width: 20%;
    height: 100%;
    position: relative;
    background:#000000;
	float: left;
	padding: 1%;
	font-size: 90%;
	margin-bottom: 1%;
}
#education{
	width: 98%;
    height: 60%;
    position: relative;
    background:#000000;
	padding: 1%;
	font-size: 100%;
	overflow: auto;
	margin-top: 1%;
}
#experience{
	width: 98%;
    height: 35%;
    position: relative;
    background:#000000;
	padding: 1%;
	font-size: 100%;
	overflow: auto;
}

#skills{
	width: 98%;
    height: 20%;
    position: relative;
    background:#000000;
	padding: 1%;
	font-size: 100%;
	overflow: auto;
	margin-top: 1%;
	margin-bottom: 1%;
}

#worker{
	font-size: 125%;
}

#workerinfo{
	text-align:right;
}

#workertext{
	font-size: 150%;
	text-align:left;
}

#hrtype{
	visibility: hidden;
}

button{
	background-color: 99D9EA;
	font-family: consolas;
	font-size: 100%;
	border-radius: 30px;
	color: black;
}

#mail{
	color: #99D9EA;
	text-decoration: none;
}

@media only screen and (max-width: 1080px){
	#data, #content, #outers{
		float: none;
		width: 98%;
		font-size: 150%;
	}
	th, td{
		width: 35%;
	}
	.eu{width: 30%;}
	#experience, #education{
		width: 100%;
		font-size: 75%;
	}
	#info{
		float: right;
		font-size: 75%;
	}
}